@import "tailwindcss";
@config "../tailwind.config.js";

@theme {
  --color-hero-accent: #FFD050;
  --font-serif: "Playfair Display", serif;
}
/* Your custom CSS below */
:root, body, #root {
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevents horizontal scrollbar */
}